:root {
	--primary-color: #05325f;
	--secondary-color: #2ecc71;
	--accent-color: #e74c3c;
	--background-color: #ecf0f1;
	--background-color-card: white;
	--text-color: #2c3e50;
	--size-page-width: 1280px;
	--transition: all .15s cubic-bezier(.4, 0, .2, 1);
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: color-mix(in srgb, var(--primary-color) 10%, white 95%);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	display: flex;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
	overflow: scroll;
	gap: 24px;
}

main {
	flex: 1;
	max-width: var(--size-page-width);
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 26px;
	overflow-x: clip;
}

main>section {}

.bold {
	font-weight: bold;
}

header {
	background-color: var(--primary-color);
	color: white;
	padding: 26px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header>div,
footer>div {
	max-width: calc(var(--size-page-width) - 54px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header #stock-favorites {
	display: none;
}

header label {
	background-color: var(--background-color-card);
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	color: var(--text-color);
	display: flex;
	gap: 12px;
}

header label .fa-solid {
	display: none;
}

header input[type="checkbox"]:checked+label,
header label:has(+ input[type="checkbox"]:checked) {
	font-weight: bold;
}

header input[type="checkbox"]:checked+label .fa-regular,
header label:has(+ input[type="checkbox"]:checked) .fa-regular {
	display: none;
}

header input[type="checkbox"]:checked+label .fa-solid,
header label:has(+ input[type="checkbox"]:checked) .fa-solid {
	display: unset;
}

.stock-search {
	background-color: var(--background-color-card);
	max-width: var(--size-page-width);
	width: 100%;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.stock-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 24px;
}

.stock-item {
	background-color: var(--background-color-card);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: var(--transition);
}

.stock-item.stock-active {
	border: 1px solid #05325fa3;
	box-shadow: 0 2px 4px #05325f4f;
}

.stock-item:hover {
	border: 1px solid #05325fa3;
	box-shadow: 0 2px 4px #05325f4f;
}

.stock-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 24px 24px 0 24px;
}

.stock-header-left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.stock-overview {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	padding: 0 24px;
}

.stock-overview>div {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 12px;
	border-radius: 40px;
	text-align: center;
	font-size: 12px;
}

.stock-anlagerisiko-niedrig {
	background-color: #00d30061;
	color: green;
	border: 1px solid #00800054 !important;
}

.stock-anlagerisiko-mittel {
	background-color: #ffa50073;
	color: #966100;
	border: 1px solid #ffa500cc !important;
}

.stock-anlagerisiko-hoch {
	background-color: #ff000094;
	color: #850000;
	border: 1px solid #ff0000c2 !important;
}

.stock-header-right {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.stock-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 12px;
	padding: 0 24px;
}

.stock-kurs {
	font-size: 26px;
	font-weight: bold;
}

.stock-kursentwicklung {
	margin-bottom: 8px;
}

.stock-kursentwicklung.up {
	color: green;
	--fa-rotate-angle: 45deg;
}

.stock-kursentwicklung.down {
	color: red;
	--fa-rotate-angle: 135deg;
}

.stock-name {
	font-size: 18px;
	font-weight: bold;
}

.stock-footer {
	padding: 16px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.stock-footer>button {
	width: 100%;
	background-color: var(--primary-color);
	color: white;
	font-size: 14px;
	border: none;
	padding: 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: var(--transition);
}

.stock-footer>button:hover {
	background-color: color-mix(in srgb, var(--primary-color) 100%, black 30%);
}

.stock-favorite {
	background-color: unset;
	border: none;
	padding: 6px;
	transform: translate(6px, -6px);
	cursor: pointer;
	font-size: 16px;
}

.stock-favorite:not(.favorite) .fa-solid {
	display: none;
}

.stock-favorite.favorite .fa-regular {
	display: none;
}

.stock-favorite.favorite .fa-solid {}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::after {
	content: attr(data-tooltip);
}

[data-tooltip]::after {
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 8px));
	background-color: black;
	padding: 10px 16px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
	animation-name: animateTooltip;
	animation-duration: .2s;
	text-wrap: nowrap;
	z-index: 1000;
}

@keyframes animateTooltip {
	from {
		opacity: 0;
		margin-top: 10px;
	}

	to {
		opacity: 1;
		margin-top: 0;
	}
}

footer {
	background-color: color-mix(in srgb, var(--primary-color) 20%, white 95%);
	border-top: 1px solid color-mix(in srgb, var(--primary-color) 50%, white 95%);
	padding: 24px;
	color: color-mix(in srgb, var(--primary-color) 70%, white 30%);
}

footer a {
	text-decoration: none;
	color: inherit;
	margin-left: 15px;
}

@media only screen and (max-width: 900px) {
	.sidebar {
		position: absolute;
		inset: 0;
	}
}

.stock-search .stock-overview {
	padding: 0;
}

.stock-search .stock-overview>div {
	cursor: pointer;
	transition: var(--transition);
}

.stock-search .stock-overview>div:hover {
	background-color: var(--primary-color);
	color: white;
}

.stock-search .stock-overview .active {
	background-color: var(--primary-color);
	color: white;
}

.stock-empty {
	display: none;
	text-align: center;
}

.stock-empty.empty {
	display: block;
}

.copy {
	border: none;
	background-color: transparent;
	padding: 0px 7px;
	cursor: pointer;
	color: var(--text-color);
}

.copy .fa-check {
	display: none;
}

.copy.copied .fa-check {
	display: unset;
}

.copy.copied .fa-copy {
	display: none;
}

.search-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-box {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.search-box input {
	padding: 8px 30px 8px 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-size: 14px;
	width: 100%;
}

.search-box .fa-search {
	position: absolute;
	right: 10px;
	color: #666;
	pointer-events: none;
}

select {
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-size: 14px;
	background: white;
}

.sidebar {
	background: var(--background-color-card);
	flex-basis: 0;
	display: none;
	flex-direction: column;
	gap: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.sidebar-visible .sidebar {
	flex-basis: 452px;
	display: flex;
	gap: 26px;
}

.sidebar .stock-header {
	padding: 26px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .stock-content {
	gap: 18px;
	padding: 0 26px;
}

.sidebar .stock-kursentwicklung {
	margin: 0;
}

.sidebar .stock-content-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.sidebar .stock-overview {
	padding: 0;
}

.stock-information {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.stock-chart {
	width: 100%;
	height: 350px;
	margin: 0 auto;
}

.sidebar .stock-button {
	background: unset;
	border: none;
	padding: 6px;
	cursor: pointer;
	transform: translate(6px, -6px);
}

.security {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 16px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 24px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--transition);
}

.security:hover {
	background-color: color-mix(in srgb, var(--primary-color) 100%, black 30%);
}

.security-content {
	display: none;
	position: fixed;
	bottom: 85px;
	left: 20px;
	background-color: var(--background-color-card);
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	max-width: 350px;
	gap: 12px;
}

.security:hover+.security-content {
	display: flex;
}